body {
    background-color: white;
    font-family: Arial, sans-serif;
}

#metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



#time-signatures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#beats-per-minute {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


#beats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


#turn-on {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#metronome button {
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    color: #540bff;
    border: 1px solid #cecece;
    border-radius: 30px;
    margin: 0vh 5vh;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

#metronome button.disabled {
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    color: grey;
    border: 1px solid #cecece;
    border-radius: 30px;
    margin: 0vh 5vh;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

#metronome button:hover {
    background-color: lightgray;
}


@media (max-width: 480px) {
    .circular-beat {
        margin: 0.5vh 0.1vw;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        color: black;
        text-align: center;
        line-height: 20px;
        font-size: 0.85em;
        font-weight: bold;
        text-decoration: none;
        border: 3px solid black;
        /* added border property */
        outline: none;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .circular-beat {
        margin: 0.5vh 0.5vw;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        color: black;
        text-align: center;
        line-height: 40px;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        border: 3px solid black;
        /* added border property */
        outline: none;
    }

}

@media (min-width: 768px) {
    .circular-beat {
        margin: 0.5vh 0.8vw;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        color: black;
        text-align: center;
        line-height: 60px;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        border: 3px solid black;
        /* added border property */
        outline: none;
    }

}

.circular-beat-active {
    background-color: lightgray;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#my-dropdown {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    background-color: #fff;
    color: #333;
}

#my-dropdown option {
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    color: #333;
}

.number-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #333;
}

.number-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
 /* Styling for the switch container */
 .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    margin: 10px;
  }

  /* Styling for the switch input element */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Styling for the switch slider element */
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
  }

  /* Styling for the switch slider before state */
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }

  /* Styling for the switch input element checked state */
  .switch input:checked + .slider {
    background-color: #2196F3;
  }

  /* Styling for the switch input element checked state slider before state */
  .switch input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Styling for the switch label */
  .switch .label {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    transform: translateX(110%);

    margin-left: 10px;
    font-size: 14px;
    color: #555;
  }